@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    transition:background-color 1s ease;
}
.light{
    background-color:rgb(255, 105, 180);
}
.dark{
 background-color:rgb(255, 20, 147);
}
*{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
     Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.log-in-form,.sign-up-form{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display:flex;
    flex-direction:column;
    gap:1rem;
    box-shadow:0 0.2px 0.4px 0.6px rgba(0,0,0,0.1);
    border-radius:1rem;
    padding:4rem;
    width:40rem;

}
.log-in-button,.sign-up-button{
    transition:background-color 0.8s ease;
}
.eye{
    top:2rem;
    left:10rem;
}
/* .pinky-talks{
    margin-top:4rem;
} */
.pop-up{
    width:18rem;
    height:15rem;
}
.welcome-message{
animation:slideIn 1s both;
animation-delay:0.8s;
}
.hi{
animation:slideIn2 1s both;
animation-delay:0.8s;
}
.chat-button{
animation:slideIn3 1s both;
animation-delay:0.8s;
width:12rem;
transition:background-color 0.8s ease;
}
.chat-list{
    margin-top:5.8rem;
}
/* .girl{
    width:100rem;
} */
.convo{
    margin-top:5rem;
}
.toggleSend{
    border-radius:10px 0 0 10px;
}
.sender{
    border-radius:0 10px 10px 0;
}
@keyframes slideIn{
    from{
        opacity:0%;
        transform:translateY(10rem);
    }
    to{
        opacity:100%;
        transform:translateY(0);
    }
}
@keyframes slideIn2{
    from{
        opacity:0%;
        transform:translateY(-10rem);
    }
    to{
        opacity:100%;
        transform:translateY(0);
    }
}
@keyframes slideIn3{
    from{
        opacity:0%;
        transform:translateX(-10rem);
    }
    to{
        opacity:100%;
        transform:translateX(0);
    }
}